/* hide the non-sortable extra data for each form record */
/*
table th.no-sort,td.no-sort {
    display:none;
}
*/
div.formsDataTrue  {
    display: none;
}
div.formsDataFalse  {
    display: none;
}
table.tablesorter tr.extraFields {
    display: none;
}
table.tablesorter {
    margin: 20px 0 0 0;
    clear: both;
}
.tablesorter-headerAsc, .tablesorter-headerDesc {
	color: #000;
}
.tablesorter-header {
	cursor: pointer !important;
}
.extraFieldsCell {
	padding: 0 !important;
}
table.extraFields {
	display: table;
	width: 100%;
	background: #fcfcfc;
	clear: both;
}
table.extraFields td {
	padding: 6px 4px !important;
	font-size: 90%;
}
table.extraFields td.label {
	font-weight: bold;
	width: 15%;
}
table.extraFields td:first-child {
	border-left: 3px solid rgba(115, 127, 140, 0.15);
}
table.extraFields tr:first-child td {
	border-top: none !important;
}
table.extraFields tr:last-child td {
	border-bottom: none !important;
}
tr.open {
	background: #fcfcfc;
}
table.data tbody tr td:first-child {
	padding-left: 7px !important;
}
tr.open td:first-child {
	border-left: 3px solid rgba(115, 127, 140, 0.15);
	padding-left: 4px !important;
}
.formSelect {
	float: left;
	margin-bottom: 20px;
}
#csvForm {
	float: right;
	margin-bottom: 20px;
}
#csvForm label {
	font-size: 90%;
	padding: 0 10px 0 0;
	display: inline-block;
	height: 29px;
	line-height: 29px;
}
