{% extends "_layouts/cp" %}

{% set title = "Forms"|t %}

{% includeCssResource 'coalescentforms/coalescentforms.css' %}

{% includeJsResource 'coalescentforms/vendor/tablesorter/js/jquery.tablesorter.min.js' %}
{% includeJsResource 'coalescentforms/vendor/tablesorter/js/jquery.tablesorter.widgets.min.js' %}

{% includeJsResource 'coalescentforms/coalescentforms.js' %}

{% set content %}

    {% set forms = craft.coalescentforms.getForms() %}
    {% set formFieldLabels = craft.coalescentforms.getFormFieldLabels() %}

    <div class="formsDataFalse">Currently there are no form submissions.</div>
    
    <div class="formsDataTrue">
       <div class="select formSelect">
        	<select id="formNameDropDown"></select>
        </div>
        
        <form id="csvForm" action="" accept-charset="UTF-8" method="post">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="coalescentForms/downloadCsv" />

            <label for="formName">Download CSV</label>
            <div class="select">
            	<select id="csvDropDown" name="formName"></select>
            </div>
            <!-- formType value set before submit -->
            <input type="hidden" id="csvFormType" name="formType" value="">
            <input type="submit" value="Submit" class="btn submit">
        </form>

        <table id="tablesorter" class="tablesorter data fullwidth">

            <thead>

                <tr>
                    <th>Form Name</th>
                    <th>Date</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>

            </thead>

            <tbody>

            {% for row in forms %}
                <tr>
                    <td>
                        {% if row.fields %}
                            <a href="#" class="toggle-extraFields formType" data-formtype="{{row.formType}}">{{row.formName}}</a>
                        {% else %}
                            <span class="formType" data-formtype="{{row.formType}}">{{row.formName}}</span>
                        {% endif %}
                    </td>
                    <td>{{row.dateCreated}}</td>
                    <td>{{row.firstName}}</td>
                    <td>{{row.lastName}}</td>
                    <td>{{row.email}}</td>
                    <td><a class="deleteForm" href="#" data-id="{{row.id}}">Delete</a></td>
                </tr>

                <tr class="tablesorter-childRow extraFields">
	               <td colspan="6" class="extraFieldsCell">
	                    <table class="extraFields">
	                    {% for key,value in row.fields %}
	                        {% set label = formFieldLabels[row.formType][key] %}
	                        <tr><td class="label">{{label}}</td><td>{{value}}</td></tr>
	                    {% endfor %}
	                    </table>
                	</td>
                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>


{% endset %}




